{% extends 'base.html' %}

{% block title %}
    Página Inicial
{% endblock %}

{% block content %}
    <div id="container">
        <div class="container mx-auto h-screen">
            <div class="flex flex-row justify-center">
                {% include 'twitter/includes/menu/left-menu.html' %}
                <div class="w-full sm:w-600 h-screen" id="content">
                    {% block middle-content %}
                        {% include 'twitter/includes/time_line.html' %}
                    {% endblock %}
                </div>
                {% include 'twitter/includes/menu/right-menu.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        if (document.querySelector('#tweets-spot'))
            htmx.ajax('GET', '{% url 'twitter:load_tweets' %}', '#tweets-spot')

        function viewTweet(tweet_id) {
            if (tweet_id !== undefined) {
                htmx.ajax('GET', `/tweet/${tweet_id}`, '#container').then(() => {
                    window.history.pushState("", "", `/tweet/${tweet_id}`);
                })
            }
        }
    </script>
{% endblock %}