{% load twitter_filter %}

<div
        class="flex items-center border-b px-4 py-3 sticky top-0 bg-white dark:bg-dim-900 border-l border-r border-gray-200 dark:border-gray-700 space-x-5"
>
    <i class="bi bi-arrow-left cursor-pointer"></i>
    <h2 class="text-gray-800 dark:text-gray-100 font-bold font-sm">
        Tweet
    </h2>

</div>

<div class="border-b border-gray-200 dark:border-dim-200 dark:hover:bg-dim-300 transition duration-350 ease-in-out pb-4 border-l border-r">
    <div class="flex flex-shrink-0 p-4 pb-0">
        <a href="#" class="flex-shrink-0 group block">
            <div class="flex items-top">
                <div>
                    <img
                            class="inline-block h-9 w-9 rounded-full"
                            src="{{ tweet.creator.get_url_profile }}"
                            alt=""
                    />
                </div>
                <div class="ml-3">
                    <div class="flex items-center text-base leading-6 font-medium text-gray-800 dark:text-white space-x-2">
                        <span> {{ tweet.creator.name }}</span>
                        <span class="text-gray-400">@{{ tweet.creator.twitter_user }}</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="pl-16">
        <p class="text-base width-auto font-medium text-gray-800 dark:text-white flex-shrink pb-3">
            {{ tweet.message }}
        </p>
        <div class="py-4 text-gray-600">
            {{ tweet.modified }}
        </div>
        <div class="py-4 space-x-4">
            <span>{{ tweet.likes }} <span class="text-gray-500 text-sm">Likes</span></span>
            <span>{{ tweet.retweets }} <span class="text-gray-500 text-sm">Retweets</span></span>
        </div>
    </div>
    <div class="flex flex-shrink-0 p-4 pb-0">
        <div class="w-12 flex items-top">
            <img
                    class="inline-block h-10 w-10 rounded-full"
                    src="{{ user.get_url_profile }}"
                    alt=""
            />
        </div>
        <div class="w-full p-2">
            <form hx-post="{% url 'twitter:answer_tweet' tweet.id %}" hx-target="#content">
                {% csrf_token %}
                <textarea
                        class="dark:text-white text-gray-900 placeholder-gray-400 w-full h-10 bg-transparent border-0 focus:outline-none resize-none border-transparent focus:border-transparent focus:ring-0"
                        placeholder="Responder" name="message"
                ></textarea>
                <button
                        type="submit"
                        class="flex justify-end bg-blue-400 hover:bg-blue-500 text-white rounded-full py-1 px-4 ml-auto mr-1"
                >
                    <span class="font-bold text-sm">Responder</span>
                </button>
            </form>
        </div>
    </div>
    <div id="answers"></div>
</div>


<script>
    htmx.ajax('GET', '{% url 'twitter:load_answers' tweet.id %}', '#answers')
</script>