{% for tweet_answer in tweets_answers %}
    {% if forloop.last %}
        <div hx-get="{% url 'twitter:load_answers' twitter_id %}?page={{ page_obj.number|add:'1' }}"
             hx-trigger="revealed"
             hx-swap="afterend">
        </div>
    {% endif %}
    <div class="py-3">
        <div class="flex flex-shrink-0 p-4 pb-0">
            <a href="#" class="flex-shrink-0 group block">
                <div class="flex items-top">
                    <div>
                        <img
                                class="inline-block h-9 w-9 rounded-full"
                                src="{{ tweet_answer.creator.get_url_profile }}"
                                alt=""
                        />
                    </div>
                    <div class="ml-3">
                        <div class="flex items-center text-base leading-6 font-medium text-gray-800 dark:text-white space-x-2">
                            <span> {{ tweet_answer.creator.name }}</span>
                            <span class="text-gray-400">@{{ tweet_answer.creator.twitter_user }}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="pl-16">
            <p class="text-base width-auto font-medium text-gray-800 dark:text-white flex-shrink pb-3">
                {{ tweet_answer.message }}
            </p>
        </div>
    </div>
{% endfor %}