{% extends 'twitter/includes/tweet/partials/tweet_base.html' %}

{% block click_on_tweet %}
    _="on click call viewTweet({{ tweet.id }})"
{% endblock %}

{% block tweet_creator_profile %}
    {% with tweet_creator_profile=tweet.creator.get_url_profile %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block tweet_info %}
    {% with tweet_creator_name=tweet.creator.name tweet_creator_user=tweet.creator.twitter_user tweet_modified=tweet.modified %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block tweet_message %}
    {% with tweet_message=tweet.message %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block tweet_statics_info %}
    {% with tweet_comments=tweet.comments tweet_retweets=tweet.retweets.count tweet_likes=tweet.likes.count %}
        {{ block.super }}
    {% endwith %}
{% endblock %}