<div class="border-b border-gray-200 dark:border-dim-200 dark:hover:bg-dim-300 transition duration-350 ease-in-out pb-4 border-l border-r">
    <div class="flex flex-shrink-0 p-4 pb-0">
        <div class="w-12 flex items-top">
            <img class="inline-block h-10 w-10 rounded-full"
                 src="{{ user.get_url_profile }}"
                 alt=""/>
        </div>
        <div class="w-full p-2">
            <form hx-post="{% url 'twitter:answer_tweet' tweet.id %}" hx-target="#container">
                {% csrf_token %}
                <textarea
                        class="dark:text-white text-gray-900 placeholder-gray-400 w-full h-10 bg-transparent border-0 focus:outline-none resize-none border-transparent focus:border-transparent focus:ring-0"
                        placeholder="Responder" name="message"
                ></textarea>
                <button type="submit"
                        class="flex justify-end bg-blue-400 hover:bg-blue-500 text-white rounded-full py-1 px-4 ml-auto mr-1">
                    <span class="font-bold text-sm">Responder</span>
                </button>
            </form>
        </div>
    </div>
</div>