{% load twitter_filter %}

{% block tweet_top %}{% endblock %}
<div class="border-b border-gray-200 dark:border-dim-200 hover:bg-gray-100 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out pb-4 border-l border-r"
        {% block click_on_tweet %} {% endblock %}>
    <div class="flex flex-shrink-0 p-4 pb-0">
        <div class="flex-shrink-0 group block">
            <div class="flex items-top">
                <a href="{{ tweet_creator_user }}" class="relative">
                    {% block tweet_creator_profile %}
                        <img class="inline-block h-10 w-10 rounded-full"
                             src="{{ tweet_creator_profile }}"
                             alt=""/>
                    {% endblock %}
                </a>
                <div class="ml-3">
                    {% block tweet_info %}
                        <div class="flex items-center text-base leading-6 font-medium text-gray-800 dark:text-white space-x-2">
                            <a href="{% url 'twitter:user' tweet_creator_user %}"
                               class="hover:underline"> {{ tweet_creator_name }}</a>
                            <a href="{% url 'twitter:user' tweet_creator_user %}" class="hover:underline text-gray-400">@{{ tweet_creator_user }}</a>
                            <span class="hover:underline pl-2 text-gray-600"> {{ tweet_modified|date_since }}</span>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="pl-16">
        {% block tweet_message %}
            <div class="text-base width-auto font-medium text-gray-800 dark:text-white flex-shrink pb-3">
                {{ tweet_message|safe }}
            </div>
        {% endblock %}
        {% block tweet_statics_info %}
            <div class="flex">
                <div class="w-full">
                    <div class="flex">
                        <div class="flex-1 flex items-center text-gray-800 dark:text-white text-xs text-gray-400 hover:text-blue-400 dark:hover:text-blue-400 transition duration-350 ease-in-out">
                            <svg viewBox="0 0 24 24"
                                 fill="currentColor"
                                 class="w-5 h-5 mr-2">
                                <g>
                                    <path
                                            d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"
                                    ></path>
                                </g>
                            </svg>
                            {{ tweet_comments|format_tweet_numbers }}
                        </div>
                        <div class="flex-1 flex items-center text-gray-800 dark:text-white text-xs text-gray-400 hover:text-green-400 dark:hover:text-green-400 transition duration-350 ease-in-out"
                             do-nothing hx-get="{% url 'twitter:retweet_tweet' tweet.id %}" hx-target="this">
                            {% include 'twitter/includes/tweet/partials/tweet_retweet.html' %}
                        </div>
                        <div class="flex-1 flex items-center text-gray-800 dark:text-white text-xs text-gray-400 hover:text-red-600 dark:hover:text-red-600 transition duration-350 ease-in-out"
                             do-nothing hx-get="{% url 'twitter:like_tweet' tweet.id %}" hx-target="this">
                            {% include 'twitter/includes/tweet/partials/tweet_like.html' %}
                        </div>
                        <div class="flex-1 flex items-center text-gray-800 dark:text-white text-xs text-gray-400 hover:text-blue-400 dark:hover:text-blue-400 transition duration-350 ease-in-out"
                             do-nothing>
                            <svg viewBox="0 0 24 24"
                                 fill="currentColor"
                                 class="w-5 h-5 mr-2" do-nothing>
                                <g>
                                    <path
                                            d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z"
                                    ></path>
                                    <path
                                            d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z"
                                    ></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>
{% block tweet_bottom %}{% endblock %}
